<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <php>
        <env name="ABSTRACTAPI_API_KEY" value=":ABSTRACTAPI_API_KEY" />
        <env name="QUICKEMAILVERIFICATION_API_KEY" value=":QUICKEMAILVERIFICATION_API_KEY" />
        <env name="VERIFALIA_USERNAME" value=":VERIFALIA_USERNAME" />
        <env name="VERIFALIA_PASSWORD" value=":VERIFALIA_PASSWORD" />
        <env name="SENDGRID_API_KEY" value=":SENDGRID_API_KEY" />
    </php>
</phpunit>
